{% extends 'base.html.twig' %}

{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aperiam autem beatae cumque ducimus error
        hic laboriosam maiores molestias mollitia quis reiciendis repellendus vero, voluptas. A earum quia quos.</p>
{% endblock %}